pre {
	line-height: 1em;
}

#container {
	width: 900px;
	margin: 0 auto;
}

#sidebar {
	float: left;
	width: 250px;
	padding-right: 20px;
}

#photo_frame {
	float: left;
	width: 600px;
}

#photo_frame img {
	width: 100%;
	border: 1px solid;
}

#explanation {
	float:left;
	margin-top: 20px;
}

footer {
	display: inline-block;
	margin-top: 20px;
}